* {
    margin: 0;
    padding: 0;
    }

body {
        background-color: rgb(228, 209, 185)  ;
    }

.top-nav{
    background-color:rgb(148,174,186);
    height: 120px;
    display:flex;
    justify-content: space-evenly;
}
.logo{
    height: 100px;
    margin-right: auto;
    padding-right:30px;
}



.nav-links{
    font-family: 'Montserrat' ;
    font-style: bold;
    text-align: center;
    margin:auto;
    transition: .2s;
    font-size: 45px;
    color:white;
    height:auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: .2s;
    width:100%;
}

.nav-links:hover{
    background: rgb(39, 136, 180);
    color:black;
}




.main-text{
    text-align: center;
    margin:auto;
    width: 40%;
    font-family: 'Montserrat';
    padding-top:10px;
    line-height: 150%;
    letter-spacing: 3px;
    font-size: large;
}

.div-avatar{
    margin:auto;
    width:20%;
}

#avatar{
   height: 99%;
   display:block;
   margin-left:auto;
   margin-right:auto;
   width:99%;
}

.bottom-nav {
    background-color: rgb(129, 109, 92);
    min-height:280px;
    margin-top:26px;
    position:absolute;
    bottom:0;
    width:100%;
}

.bottom-nav img{
    position: relative;
    left: 105px;
    right:105px;
    width:10%;
    padding-top: 30px;
    padding-left:  105px;
    padding-right: 105px;

}

.bottom-nav a:hover{
    color: rgb(80, 53, 39, 50%);
}

#my-bio-caption{
    font-family:"Montserrat";
    font-size: 35px;
    position: relative;
    left:225px;
    margin-right:200px;
    color: rgb(80, 53, 39);
    display: inline;     

}

#experience-caption{
    font-family:"Montserrat";
    font-size: 35px;
    position: relative;
    left:195px;
    padding-left:  125px;
    color: rgb(80, 53, 39);
    display: inline;     

}

#projects-caption{
    font-family:"Montserrat";
    font-size: 35px;
    position: relative;
    left:300px;
    padding-left:  125px;

    color: rgb(80, 53, 39);
    display: inline;     

}

#hire-me-caption{
    font-family:"Montserrat";
    font-size: 35px;
    position: relative;
    left:420px;
    padding-left:  125px;
    color: rgb(80, 53, 39);
    display: inline;     

}




#experience-icon{
    padding-left: 135px;
}                          

#bio-graphics{
    position:relative;
    top:50px;
    left:30px;
    display:inline
}

#bio-h1{
    display:inline;
    position: absolute;
    top:150px;
    left:900px;
    font-family:"Montserrat";
}
#bio-p{
    display:inline;
    position: absolute;
    top:220px;
    left:900px;
    right:50px;
    font-family:"Montserrat";
    text-align: justify;
    line-height: 50px;
    font-size:20px;
}

p a {
    text-decoration: underline;
}

p a:hover{
    color: rgb(80, 53, 39);
    font-style: italic;
    text-decoration: underline;

}

.oneThird{
    width:30%;
    height:300px;
    float:left;
    margin:.5%;
}

.oneThird p{
    text-align: center;
}
.oneThird img{
    position:relative;
    left: 150px;
    text-align: center;
    height:100%;
}

.secondThird{
    width:30%;
    height:300px;
    float:left;
    margin:.5%;
    margin-top: 50px;
}

.secondThird img{
    position:relative;
    left: 150px;
    text-align: center;
    height:100%;
}

.secondThird p{
    text-align:center;
}





a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}