body {
    background-image: url("/img/Background.jpg");

}

h1 {
    border: blueviolet;
    border-radius: 25px;
    border-style: groove;
    padding: 10px;

    text-align: center;
    font-family: Cambria, serif, sans-serif;
    color: darkred;

    background-color:coral;

    background-image: url(img/Paper\ Background.jpg);
}

h2 {
    border: blueviolet;
    border-radius: 25px;
    border-style: groove;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    top: 20;
    left: 210px;

    text-align: center;
    font-family: Cambria, serif, sans-serif;
    color: darkred;

    background-color:coral;

    background-image: url(img/Paper\ Background.jpg);
}

.bloco-navegacao {
    position: fixed;
    top: 20;
    left: 0;
    width: 200px;
    text-align: left;
    height: 300px;

    border: blueviolet;
    border-radius: 25px;
    border-style: groove;
    

    background-image: url(img/Paper\ Background.jpg);

    font-size: large;
}

.lista-navegacao{
    padding-left: 3px; 
    margin-top: 25px;
    list-style-type: none;
    border-right:none
}



#texto-descritivo {
    margin-left: 250px;
    background-color: rgb(64, 148, 223);
    border-radius: 25px;
    padding: 10px;
    height: 300px;
    font-size: 50px;
    border-style: dashed;
    text-align: justify;
    font-family: Cambria, serif, sans-serif;
    color: darkred;
    background-image: url(img/Paper\ Background.jpg)

}

footer{
    position:fixed;
    bottom: 20px;
}

table{
    position:fixed;
    top: 190px;
    left: 220px;
    border-radius: 2cm;
}

tr, td, th {
    border: 2px solid;
    border-color: rgb(221, 28, 28);
    background-color: bisque;
    text-align: center;
}

form{
    position:fixed;
    top: 190px;
    left: 220px;
    text-align: left;
    border: 2px;
    border-radius: 30px;
    border-style:ridge;
    padding:20px;
    background-color:bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#lista-funcionarios {
    position:fixed;
    top: 150px;
    left: 220px;
    text-align: left;
    border: 2px;
    border-radius: 30px;
    border-style:ridge;
    padding:20px;
    background-color:bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:1000px;

}